body {
  background-color: rgb(233, 212, 212);
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: black;
}

p,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  color: rgb(90, 90, 90);
}
article {
  max-width: 350px;
  font-size: 14pt;
  padding: 25px;
  padding-top: 0px;
  border: 1px gray solid;
  margin: 25px;
  background-color: #ffffff;
  border-radius: 1cap;
}

s {
  font-size: 14pt;
  font-style: italic;
  color: rgba(73, 69, 69, 0.575);
}

button {
  height: 40px;
  width: 100%;
  background-color: rgb(255, 209, 3);
  border-width: 1px;
  border-radius: 5cap;
}

button:hover {
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-radius: 5cap;
  cursor: cell;
}

.price-green {
  font: bolder;
  font-size: 24pt;
  color: rgb(52, 150, 52);
  margin-bottom: 10px;
  text-align: right;
}
